 .item-list{
    margin: 24px 0;
    text-align: start;
 }
 
 .item-list strong{
    color: #5398f5;
    font-size: 24px;
    margin-top: 24px;


 }
 .item-list p{
    color: #999999;
    font-size: 14px;
    margin: 24px 0;

 }